<form #itemForm = "ngForm" (submit)="onSubmit(itemForm)" >
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="itemService.formData.id">
    
    <div class="form-group ">
          <label>Category </label>
          <select class="form-control" (change)="onOtherCategory($event)"[(ngModel)]="itemService.formData.category" name="category" #category ='ngModel' ngDefaultControlstyle="align-content: center;text-align:center">
            <option style="align-content: right;text-align: right;" *ngFor="let item of itemList">
              {{item.category}}   
            </option>
            <option >
              Other
            </option>            
          </select>
    </div>

    <div class="form-group" >   
        <label id="otherCategoryIdLabel" style="display : none; padding-left: 50px;" > Add new category</label>
        <input type="text" style="display : none; padding-left: 50px;" class="form-control" id="otherCategoryId" [(ngModel)]="itemService.formData.otherCategory" #otherCategory="ngModel" name="otherCategory">
        <!-- <div *ngIf ="otherCategory.touched" class="validation-error">This field is required.</div> -->
    </div>

    <div class="form-group">
      <label>Code</label>
      <input class="form-control" id="code" name="code" #code="ngModel" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="itemService.formData.code" required >
      <div *ngIf ="code.invalid && code.touched" class="validation-error">This field is required.</div>
    </div>

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="itemService.formData.name" placeholder="Item name" required>
      <div *ngIf ="name.invalid && name.touched" class="validation-error">This field is required.</div>
    </div>

    <div class="form-group">
      <label>Quantity</label>
      <input class="form-control" type="number" name="quantity" #quantity="ngModel" [(ngModel)]="itemService.formData.quantity" placeholder="Quantity" required>
      <div *ngIf ="quantity.invalid && quantity.touched" class="validation-error">This field is required.</div>
    </div>

    <div class="form-group">
      <label>Unit Price (Rs.)</label>
      <input class="form-control" type="number" name="price" #price="ngModel" [(ngModel)]="itemService.formData.price" placeholder="Rs." required>
      <div *ngIf ="price.invalid && price.touched" class="validation-error">This field is required.</div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <button class="btn btn-default" type="submit" [disabled]="itemForm.invalid">
              <i class="fa fa-plus"></i>   Add</button>
        </div>

        <div class="form-group col-md-6">
            <button class="btn btn-default" type="button" (click)="resetForm(itemForm)" >
                <i class="fa fa-repeat"></i>   Reset</button>
        </div>       
    </div>
 
  </form>
  