<h6 class="text-center">Available Stock</h6><br>
<table class="table table-sm table-hover">
  <tr>
    <th>Code</th>
    <th>Category</th>
    <th>Name</th>
    <th>Qty.</th>
    <th>Unit price (Rs.)</th>
    <th>Total (Rs.)</th>
    <th></th>
  </tr>
  <tbody>
  <tr *ngFor="let item of itemList">
    <td (click)="onEdit(item)" >{{item.code}}</td>
    <td (click)="onEdit(item)" >{{item.category}}</td>
    <td (click)="onEdit(item)" >{{item.name}}</td>
    <td (click)="onEdit(item)" >{{item.quantity}}</td>
    <td (click)="onEdit(item)" >{{item.price | number:'1.2-2'}}</td>
    <td (click)="onEdit(item)" >{{item.price * item.quantity | number : '1.2-2'}}</td>
    <td>
      <a class="btn" (click)="onDelete(item.id)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</tbody>
</table>