<h5 class="text-center">Available Stock</h5><br>
<div class="scrollable">

<table class="table table-sm table-hover item-list-tble">
  <thead class="table-head"><tr> 
    <th>Category</th>
    <th>Code</th>
    <th>Name</th>
    <th>Exp.Date</th>
    <th>Weight</th>
    <th>Qty.</th>
    <th>Unit price (Rs.)</th>
    <th>Discount(%)</th>
    <th>Total (Rs.)</th>
    <th>&nbsp;</th>
    <th>QR Code</th>
  </tr></thead>
  <tbody>
  <tr *ngFor="let item of itemList" (mouseover)="generateQR(item)">
    <td (click)="onEdit(item)" >{{item.category}}</td>
    <td (click)="onEdit(item)" ><b>{{item.code}}</b></td>
    <td (click)="onEdit(item)" class="item-name">{{item.name}}</td>
    <td (click)="onEdit(item)" >{{item.expDate}}</td>
    <td (click)="onEdit(item)" >{{item.weight}}</td>
    <td (click)="onEdit(item)" >{{item.quantity}}</td>
    <td (click)="onEdit(item)" >{{item.price | number:'1.2-2'}}</td>
    <td (click)="onEdit(item)" >{{item.discount | number:'1.2-2'}}</td>
    <td (click)="onEdit(item)" >{{item.price * item.quantity | number : '1.2-2'}}</td>
    <td>
      <a class="btn" (click)="onDelete(item.id)">
        <!-- <i class="fa fa-trash-o"></i> -->
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </td>
    <td>
      <a class="btn" (click)="download()">
        <i class="fa fa-download" aria-hidden="true"></i>
      </a>
    </td>
  </tr>
</tbody>
</table>
</div>
<div hidden (click)="download()" >
  <qrcode #parent id="qrcode" [class]="'img-responsive'" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</div>