/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

button:hover,a.btn:hover{
    cursor: pointer;
   }

.scrollable{
    overflow-y: auto;
    max-height: 40%;
    width: 130%;

}

table.table-hover tbody tr:hover{
    cursor: pointer;
}   

/* table.table-hover thead th {
    position: fixed;
    color: brown;
    text-align: justify;
}    */

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
}